.custom-table-td {
    border: 1px solid #9ca3af;
    text-align: center;
}

.custom-table-th {
    border: 1px solid #9ca3af;
    text-align: center;
    font-weight: 800;
    background-color: white;
}
